* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Slab', serif;
  background-color: #2A1313;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 1;
  pointer-events: none; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 30px 50px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #ffcccb;
}

.nav-links a:hover::after {
  width: 100%;
}

.intro {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.intro h1 {
  font-size: 72px;
  margin-bottom: 15px;
}

.intro p1 {
  font-size: 27px;
  font-weight: 300;
}

.socials {
  position: absolute;
  right: 40px;
  top: 88%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socials a {
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.socials a:hover {
  transform: scale(1.2);
  color: #ffcccb;
}

.about-img{
  width: 390px;
  height: 390px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.5);
  position: absolute;
  left: 130px;
  top: 30%;
}

.about-head h1{
  position: relative;
  text-align: center;
  margin-top: 4%;
  font-size: 80px;
  opacity: 0.2;
}

.about-head h2{
  position: absolute;
  left: 610px;
  top:80px;
  font-size: 35px;
  border-bottom: 2px solid white;
}

.about-text p0{
  position:absolute;
  font-size: 30px;
  font-weight: bold;
  left: 620px;
  top: 240px;
  margin-bottom: 10px;
}

.about-text p1{
  position:absolute;
  max-width: 800px;
  text-align: justify;
  font-size: 22px;
  font-weight: bold;
  left: 620px;
  top: 290px;
  text-indent: 70px;
  line-height: 30px;
}

.section-divider{
  position:absolute;
  border: none; 
  border-top: 1px solid #ffcccb; 
  margin: 50px auto; 
  width: 60%; 
  max-width: 800px;
  left: 620px;
  top: 420px;
}

.about-info p2{
  position:absolute;
  font-size: 22px;
  font-weight:600 ;
  top: 500px;
  left: 640px;
}

.about-info p3{
  position:absolute;
  font-size: 22px;
  font-weight:600;
  top: 500px;
  left: 1000px;
}

.about-info p4{
  position:absolute;
  font-size: 22px;
  font-weight:600;
  top: 550px;
  left: 640px;
}

.about-info p5{
  position:absolute;
  font-size: 22px;
  font-weight:600;
  top: 550px;
  left: 1000px;
}

.close-btn {
  position: fixed;
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 34px;
  top: 50px;
  right: 100px;
  color: white;
  text-decoration: none;
}

.close-btn:hover{
  color:#ffcccb;
  transform: scale(1.1);
}

.skills-head h1{
  position: relative;
  text-align: center;
  margin-top: 4%;
  font-size: 80px;
  opacity: 0.2;
}

.skills-head h2{
  position: absolute;
  left: 650px;
  top:80px;
  font-size: 35px;
  border-bottom: 2px solid white;
}

.skills-box1{
  width: 330px;
  height: 390px;
  background-color: #705E5E;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.2);
  position: absolute;
  left: 130px;
  top: 30%;
}

.skills-box1 h3{
  position: absolute;
  left: 35px;
  top: 4%;
  font-size: 24px;
  border-bottom: 2px solid white;
}

.skills-box1 ul{
  position: absolute;
  font-weight:600;
  font-size: 20px;
  line-height: 30px;
  left: 50px;
  top: 17%;
}

.overlay-boxes1{
  position: fixed;
  left: 130px;
  top: 30%;
  height: 390px;
  width: 330px;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 1;
  pointer-events: none; 
}

.skills-box2{
  width: 330px;
  height: 390px;
  background-color: #705E5E;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.2);
  position: absolute;
  left: 590px;
  top: 30%;
}

.skills-box2 h3{
  position: absolute;
  left: 35px;
  top: 4%;
  font-size: 24px;
  border-bottom: 2px solid white;
}

.skills-box2 ul{
  position: absolute;
  font-weight:600;
  font-size: 20px;
  line-height: 30px;
  left: 50px;
  top: 17%;
}

.overlay-boxes2{
  position: fixed;
  left: 590px;
  top: 30%;
  height: 390px;
  width: 330px;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 1;
  pointer-events: none; 
}

.skills-box3{
  width: 330px;
  height: 390px;
  background-color: #705E5E;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.2);
  position: absolute;
  left: 1050px;
  top: 30%;
}

.skills-box3 h3{
  position: absolute;
  left: 35px;
  top: 4%;
  font-size: 24px;
  border-bottom: 2px solid white;
}

.skills-box3 ul{
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  left: 50px;
  top: 17%;
}

.overlay-boxes3{
  position: fixed;
  left: 1050px;
  top: 30%;
  height: 390px;
  width: 330px;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 1;
  pointer-events: none; 
}

.resume-head h1{
  position: relative;
  text-align: center;
  margin-top: 4%;
  font-size: 80px;
  opacity: 0.2;
}

.resume-head h2{
  position: absolute;
  left: 690px;
  top:80px;
  font-size: 35px;
  border-bottom: 2px solid white;
}

.resume-edu h3{
  position: absolute;
  font-size: 26px;
  top: 170px;
  left: 190px;
}

.resume-edu h4{
  position: absolute;
  font-size: 26px;
  top: 170px;
  right: 510px;
}

.resume-edu-info1{
  width: 440px;
  height: 120px;
  background-color: #705E5E;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.2);
  position: absolute;
  left: 190px;
  top: 30%;
}

.resume-edu-info1 p1{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  left: 10px;
  top: 5px;
  line-height: 22px;
}

.resume-edu-info2{
  width: 440px;
  height: 120px;
  background-color: #705E5E;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.2);
  position: absolute;
  left: 190px;
  top: 380px;
}

.resume-edu-info2 p2{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  left: 10px;
  top: 5px;
  line-height: 22px;
}

.resume-edu-info3{
  width: 440px;
  height: 120px;
  background-color: #705E5E;
  object-fit: contain;
  box-shadow: 0 0 15px rgba(255, 204, 203, 0.2);
  position: absolute;
  left: 860px;
  top: 30%;
}

.resume-edu-info3 p3{
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  left: 10px;
  top: 5px;
  line-height: 22px;
}

.overlay-edu{
  position: fixed;
  left: 1050px;
  top: 30%;
  height: 390px;
  width: 330px;
  background-color: rgba(0, 0, 0, 0.1); 
  z-index: 1;
  pointer-events: none; 
}

.dwnld-btn {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  border: 2px solid #5a4f58; 
  border-radius: 20px;
  font-size: 18px;
  transition: background 0.3s ease, color 0.3s ease;
  left:680px;
  bottom: 30px;
}

.dwnld-btn a{
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.dwnld-btn:hover {
  background-color: #3a2b2b;
  color: #ffffff;
}

.contacts-head h1{
  position: relative;
  text-align: center;
  margin-top: 4%;
  font-size: 80px;
  opacity: 0.2;
}

.contacts-head h2{
  position: absolute;
  left: 640px;
  top:80px;
  font-size: 35px;
  border-bottom: 2px solid white;
}

.contacts-secondary-head h3{
  position: absolute;
  font-size: 28px;
  top: 170px;
  left: 160px;
}

.contacts-secondary-head h4{
  position: absolute;
  font-size: 28px;
  top: 170px;
  right: 410px;
}

.contacts-footer {
  position: absolute;
  height: 100px;
  bottom: 0px;
  width: 100%;
  background-color: #705E5E;
}

.contacts-footer p1{
  position: absolute;
  font-weight:600;
  font-size: 18px;
  left: 70px;
  top: 35px;
}

.name{
  position: absolute;
  left: 160px;
  top: 220px;
  width: 350px;
  height: 35px;
}

.email{
  position: absolute;
  width: 350px;
  height: 35px;
  left: 530px;
  top: 220px;
}

.subject{
  position:absolute;
  width: 720px;
  height: 35px;
  top: 285px;
  left: 160px;
  
}

.message{
  position:absolute;
  width: 720px;
  left:160px;
  top:350px;
  height: 160px;
}

.contacts-info p1{
  position:absolute;
  font-size: 20px;
  font-weight: 600;
  right:120px;
  top:210px;
}

.vertical-divider{
  position: absolute;
  top: 280px;
  right:520px;
  width: 1px;
  background-color: #ccc;
  height: 225px;
}

.contacts-icon{
  display: flex;
  position: absolute;
  right:540px;
  top:275px;
  flex-direction: column;
  gap: 40px;
  font-size: 19px;
  color: white;
  padding-top: 5px;
}

.contacts-info-main{
  position: absolute;
  font-size: 18px;
  right:170px;
  top: 280px;
}

.submit{
  position: absolute;
  top:550px;
  left:160px;
  height:40px;
  width:190px;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  border: 2px solid #5a4f58; 
  border-radius: 20px;
  font-size: 18px;
  color: white;
}

.projects-head h1{
  position: relative;
  text-align: center;
  margin-top: 4%;
  font-size: 80px;
  opacity: 0.2;
}

.projects-head h2{
  position: absolute;
  left: 690px;
  top:80px;
  font-size: 35px;
  border-bottom: 2px solid white;
}

.filter-btn {
  position: relative;
  text-align: center;
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  margin: 0 10px;
  cursor: pointer;
}

.filter-btn:hover {
  color:white;
  text-decoration: underline;
}